<div *ngIf="cartItems.length; else noCart" class="cart-container">
    <div class="cart-item-details">
        <div *ngFor="let cartItem of cartItems" class="cart-item">
            <img src="{{cartItem.url}}" alt="">
            <div class="cart-panel">
                <div class="product-item-detail">{{ cartItem.name }}</div>
                <div class="product-item-detail">{{ cartItem.price }}</div>
                <div class="product-item-detail">
                    <select (change)="selectedQuantity(cartItem.id, $event.target)" class="form-select">
                        <option 
                        *ngFor="let productOption of productCount"
                        [ngValue]="productOption"
                        [selected]="productOption === cartItem.quantity"
                        >
                            {{ productOption }}
                        </option>
                    </select>
                </div><br>
                <div class="product-item-detail">
                    <button (click)="removeItem(cartItem.id)" class="product-item-detail btn btn-danger">Remove</button>
                </div>
            </div>
        </div>
        <div class="cart-item"><b>Total: {{ cartTotal | currency }}</b></div>
    </div>
    <div class="form-margin">
        <form class="form-margin" #form="ngForm" (ngSubmit)="onCheckOut(fullName)">
            <h1>Checkout</h1>
            <label>Full Name: </label><br />
            <input type="text" 
            name="fullName" 
            required minlength="6"
            placeholder="Enter your Full Name"
            [(ngModel)] = "fullName"
            ><br />

            <label>Address: </label><br />
            <input type="text" 
            name="address" 
            required minlength="5"
            placeholder="Enter your Address"
            [(ngModel)] = "address"
            ><br />

            <label>Credit Card No: </label><br />
            <input type="text" 
            name="creditCard" 
            required minlength="16" maxlength="16"
            pattern="[0-9]+"
            placeholder="(16-digit number)"
            #creditCardInput="ngModel"
            [(ngModel)] = "creditCard"
            (ngModelChange)="validateCreditCard(creditCardInput.value)"
            ><br />
            <br>
            <input [disabled]="form.invalid" type="submit" value="Checkout" class="btn btn-success">
            <div *ngIf="creditCardInput.errors && creditCardInput.errors['pattern']">
                Credit card number must be 16-digits and contain only numbers.
            </div>
        </form>
    </div>
</div>

<ng-template #noCart>
    <div class="empty-cart-message">
        The Cart is Empty! Please,&nbsp;&nbsp; <a routerLink="/"> <span class="btn btn-success" >Add product to cart</span> </a>
    </div>
</ng-template>
