<div class="success-ccontainer">
    <div class="success-items ">
        <h2 class="success-header success-item">
            SUCCESS
        </h2>
        <div class="success-item">Thank you, <b>Evans</b></div>
        <div class="success-item">Your <b>$456.00</b> order is confirmed!</div>
        <div class="success-item">Please allow 1-3 business day(s) for shipping</div>
        <div class="success-item">
                <a routerLink="/">
                    Return to product list
                </a>
            </div>
    </div>
</div>
